/* Navbar */
.btn-nav-main{
    border: none;
    background: none;
    padding:0;
}
.btn-nav-main:focus{
    outline: 0;
}
.i-search{
    border: none; 
}
.search-mobile{
    height: 820px;
}
/* p{
    margin: 0 !important;
} */


.lb{
    height: 110px !important;
    width: 120px !important;
}

.song div:first-child{
    margin-top: 0 !important;
}