/* Navbar */
.btn-nav-main{
    border: none;
    background: none;
    padding:0;
}
.btn-nav-main:focus{
    outline: 0;
}
.i-search{
    border: none; 
}
.search-mobile{
    height: 820px;
}
/* p{
    margin: 0 !important;
} */


.lb{
    height: 110px !important;
    width: 120px !important;
}

.song div:first-child{
    margin-top: 0 !important;
}

.detailsong{
    width: 120px; 
    height: 110px;
}

.numsong{
    min-width: 45px; 
    min-height: 45px;
    max-width: 45px; 
    max-height: 45px;
}
